{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend>Join Today</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Register</button>
		</div>
	</form>
	<div>
		<small class="text-muted">
			Already have an account? <a href="{% url 'login' %}">Sign In</a>
		</small>
	</div>
</div>
	
{% endblock %}